* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-info {
  align-content: center;
  width: 40%;
}

.contact-info h2 {
  font-size: 2.5rem;
  color: #333;
}

.contact-info .subtitle {
  color: #e9183d;
  font-size: 1.2rem;
  margin-top: -10px;
  margin-bottom: 30px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #333;
}

.info-item i {
  color: #e9183d;
  margin-right: 10px;
  font-size: 1.5rem;
}

.contact-form {
  align-content: center;
  width: 40%;
}

.contact-form h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
}

textarea {
  resize: none;
  height: 120px;
}

button {
  background-color: #e9183d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #cc162f;
}

.info-item p {
  margin-bottom: 0 !important;
  margin-left: 5px;
}

.info-item i {
  width: 10%;
  margin-right: 0 !important;
}
