.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #d71a34;
  color: white;
}

.menu-links {
  display: flex;
  list-style: none;
  justify-content: end;
  padding: 0;
  margin: 0;
}

.menu-links li {
  margin-right: 20px;
}

.menu-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
