.font {
  font-family: Amarante;
}

.margin-zero {
  margin: 0;
}

.padding-zero {
  padding: 0;
}

.load-more-btn {
  padding: 10px;
  background-color: crimson;
  width: 50%;
  text-align: center;
  margin: 0px auto;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.indexing {
  padding: 0 1rem;
}

.full-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex-grow: 1;
  padding-top: 110px;
  padding-bottom: 10px;
}

.box-shadow-none {
  outline: none;
  box-shadow: none;
}
