.font {
  font-family: Amarante;
}

.margin-zero {
  margin: 0;
}

.padding-zero {
  padding: 0;
}

.load-more-btn {
  padding: 10px;
  background-color: crimson;
  width: 50%;
  text-align: center;
  margin: 0px auto;
  color: white;
  border: 1px solid crimson;
}

.load-more-btn:hover {
  color: crimson;
  background-color: white;
  border: 1px solid crimson;
}

.cursor-pointer {
  cursor: pointer;
}

.indenting {
  padding: 0 1rem;
}

.full-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex-grow: 1;
  padding: 10px 0;
}

.box-shadow-none {
  outline: none;
  box-shadow: none;
}

.align-item-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}

.product-page-indenting {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
